* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}

/* header */
.name {
  width: 100%;
  min-height: 8%;
  display: -webkit-box;
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 5%;
  background-color: rgba(0, 0, 0, 0.1);
  color: orange;
  z-index: 100;
  position: absolute;
  font-size: 2vw;
}

/* navigation */
.navigation {
  width: 100%;
  height: 10vh;
  z-index: 200;
  top: 100%;
  color:black;
  border-bottom: 1px solid black;
  font-size: 1.5vw;
}

.navigation>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0 12.5%;
}

.navigation>ul>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.navigation>ul>li:hover {
  cursor: pointer;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

/* picture and text on main page */
.welcome_picture {
  width: 100%;
  height: 100vh;
  background-image: url('../photo/main-photo.jpg');
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  color: orange;
  letter-spacing: 3px;
}

.text {
  z-index: 100;
  width: 96%;
  margin-left: 2%;
  text-shadow: 2px 2px 0 black;
}
.text > h2{
  font-size: 4vw;
}
.picture_text {
  padding-bottom: 1.5%;
  font-size: 3vw;
}

.courtine {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/*gallery */
.gallery {
  width: 100%;
  height: 80vh;
  border-bottom: 1px solid black;
  display: none;
}

.offer {
  display: flex;
  width: 100%;
  min-height: 50vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2vw;
}

.offer_main_title {
  width: 100%;
  min-height:6vh;
  text-align: center;
  font-size: 2vw;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color:#008ed6;
}

.offer_main_description {
  min-height: 15vh;
  text-align: center;
  line-height: 6vh;
  font-size: 1.5vw;
  padding: 0 2%;
}
.offer_main_description::after{
  content: "";
  width: 40vw;
  height: 2px;
  background-color: #008ed6;
  margin: 2% auto 0;
}
.offer_item {
  width: 30%;
  min-height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EEEEEE;
  margin: 2% 0;
  transition: 0.3s;
}
.offer_item:hover{
  background-color: #E0E0E0;
}
.offer_item_title {
  font-size: 1.8vw;
  color:#008ed6;
}

.offer_item_description {
  padding-top: 2%;
  font-size: 1.5vw;
  line-height: 4vh;
}

/*contact section */
.contact {
  display: flex;
  width: 100%;
  height: 45vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2vw;
}
.contact_main_title{
  width: 100%;
  height: 15%;
  text-align: center;
}
.contact_main_title::after{
  content: "";
  width: 25vw;
  height: 2px;
  background-color: black;
  margin: 1% auto 0;
}
.tail {
  width: 30%;
  height: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon {
  font-size: 5vw;
  height: 30%;
}
.description_tail {
  height: 45%;
  line-height: 4vh;
  font-size: 1.5vw;
  padding-top: 2%;
}

.description_tail>a {
  text-decoration: none;
  cursor: default;
  color:black;
}

.description_tail>a:hover {
  cursor: default;
}

/* other classes */
.flex_center_vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*media queries */
@media only screen and (max-width:800px) {
  .name {
    text-align: center;
    font-size: 3vh;
    padding-left: 0;
  }

  .navigation>ul {
    width: 100%;
    padding: 0 5%;
    font-size: 2.5vh;
  }

  .text>h2 {
    font-size: 4vh;
  }

  .picture_text {
    font-size: 2.5vh;
    padding-top:2%;
  }

  .offer_main_title {
    font-size: 3vh;
  }

  .offer_main_description {
    font-size: 2vh;
    line-height: 4vh;
  }

  .offer_item {
    width: 100%;
    min-height: 20vh;
  }

  .offer_item_title {
    font-size: 2.5vh;
  }

  .offer_item_description {
    font-size: 2vh;
    padding: 0 2%;
  }

  .contact_main_title{
    font-size: 3vh;
    height: 10%;
  }
  .contact{
    height: 90vh;
  }
  .tail{
    width: 100%;
    height: 30%;
  }
  .icon{
    font-size: 6vh;
  }
  .description_tail{
    font-size: 2vh;
    height: 60%;
  }

  .description_tail>a:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width:490px) {
  .text>h2{
    font-size: 3vh;
  }

  .picture_text {
    padding-top: 3%;
    font-size: 2vh;
  }

  .offer_main_title {
    font-size: 2.5vh;
  }

  .offer_main_description {
    font-size: 1.8vh;
  }

  .icon {
    font-size: 5vh;
  }
}